.fakeimg {
    height: 200px;
}

.bg {
    background-image: url('../img/bg.jpg');
    background-size: auto;
    vertical-align: middle;
    height: 250px;
}

.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}

h2 {
    text-align: left;
    font-size: x-large;
}

input,
textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}

.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}

#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}

#contacts a {
    text-decoration: none;
}

#contacts img:hover {
    opacity: 0.8;
}

#contacts {
    text-align: center;
}

.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row2 {
    color: #979797;
    background-color: #FFFFFF;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

#container {
    padding: 30px 0;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

#container .last {
    margin: 0;
}

#container .more {
    text-align: right;
}


/* ------Main Content-----*/

#container #homepage {
    line-height: 1.6em;
}

#container #homepage section {
    margin: 0;
}

#container #homepage #services {
    margin-bottom: 40px;
}

#container #homepage #services article {}

#container #homepage #services article h2 {
    font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #DEDEDE;
}

#container #homepage #services article p {
    margin: 0;
    padding: 0;
}

#container #homepage #services article img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 15px 0 0;
    padding: 4px;
    border: 1px solid #DEDEDE;
}

#container #homepage #services article footer {
    margin: 10px 0 0 0;
}

#container #homepage .fl_left,
#container #homepage .fl_right {
    width: 455px;
}

#container #homepage .fl_right article {}

#container #homepage .fl_right article figure {}

#container #homepage .fl_right article figure img {
    float: left;
    width: 125px;
    height: 125px;
    margin: 0;
    padding: 4px;
    border: 1px solid #666666;
}

#container #homepage .fl_right article figure figcaption {
    display: block;
    float: right;
    width: 300px;
}

#container #homepage .fl_right article figure h2 {
    font-size: 14px;
}

#container #homepage .fl_right article figure footer {}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text {
        text-align: center
    }
}