.noticia {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.destaque {
    height: 250px;
    width: 750px;
    object-fit: cover;
    object-position: center;
}

.bg {
    background-image: url('../img/bg.jpg');
    background-size: auto;
    vertical-align: middle;
    height: 250px;
}

.title-page {
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

.footer {
    background-color: rgb(46, 46, 46);
    color: mistyrose;
}

.nav-link,
.more,
.footer-links {
    color: inherit;
    text-decoration: none;
}